@import "color.css";

* {
    font-family: 'Mx437 IBM VGA 8x16', 'Symbols Nerd Font Mono';
    font-size: 16px;
}

window#waybar {
    background-color: alpha(@black, 0.50);
    color: @whitehl;
    border-radius: 14px;
    transition-property: background-color;
    transition-duration: 0s;
}

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    color: @whitehl;
    border-radius: 0;
    transition-duration: 0s;
}

#workspaces button {
    padding: 0 4px;
}

#workspaces button:hover {
    background: inherit;
    color: inherit;
    text-shadow: none;
}

#workspaces button.focused {
    color: @magenta;
}

#workspaces button.urgent {
    color: @red;
    animation-name: blinkwhite;
    animation-duration: .5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#workspaces button.active {
    color: @red;
}

#mode {
    color: @yellow;
}

#clock,
#battery,
#backlight,
#network,
#pulseaudio {
    padding: 0 10px;
    background-color: transparent;
}

#window,
#workspaces {
    margin: 0 4px;
}

@keyframes blinkred {
    to {
        color: @red;
    }
}

@keyframes blinkwhite {
    to {
        color: @whitehl;
    }
}

#battery.critical:not(.charging) {
    background-color: transparent;
    animation-name: blinkred;
    animation-duration: .5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#network.disconnected {
    color: @red;
}
